@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* <<<<<<<<<<<<<<<<<< Navbar >>>>>>>>>>>> */

nav.navbar {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  background: white;
  z-index: 10;
}
.LogoNav{
  width: 40%;
  background-color: #fff;
}
.navListWrapper{
  width: 60%;
  padding-left: 80px;
}

.navListNameActive{
  font-family: 'Manrope-Bold';
  font-size: 14px;
  color: rgb(251 191 36);
  padding: 10px 30px 10px 30px;
}

.navListNameInActive{
  font-family: 'Manrope-Medium';
  font-size: 14px;
  color: #111111;
  padding: 10px 30px 10px 30px;
}

.whatsappButton{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 40px;
  z-index: 9;
  right : 20px;
  justify-content: center;
  align-items: center;
}
.whatsappFloating{
  width: 50px;
  height: 50px;
}
.orderWa{
  font-family: "Manrope-Bold";
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  background-color: #1bd741;
  color: #fff;
  margin-right: 6px;
  border-radius: 4px;
}

/* <<<<<<<<<<<< Home >>>>>>>>>>>> */

.Home{
  background-image: url('../src/assets/image/bg2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh; 
  
}
.HomeContainer{
  width: 100%;
  height: 100vh;
  background-color: #00000095;
}

.tagLineWrapper{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  /* background-color: rgba(255, 255, 255, 0.44); */
}
.tagLine{
  font-family: 'Poppins-ExtraBold';
  font-size: 70px;
  color: #f0f0f0;
}
.tagLine2{
  font-family: 'Poppins-ExtraBold';
  font-size: 24px;
  color: rgb(251 191 36);
}
.pinkButton{
  margin-top: 40px;
  background-color: rgb(251 191 36);
  max-width: 40%;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-family: 'Poppins-Medium';
  font-size: 16px;
  color: #f0f0f0;
  box-shadow: 2px 3px rgba(251, 190, 36, 0.145);
}

.boxFloatWrapper{
  width: 100%;
  height: 250px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  top: -70px;
  /* background-color: #fff; */
}

.boxFloatingHome{
  width: 100%;
  height: 240px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 5px rgba(251, 190, 36, 0.076);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cardTypeJournal{
  /* width: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px 10px 25px;
  border-right: 2px solid #dddddd;
}
.cardTypeJournalLast{
  /* width: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px 10px 25px;
}

.logoIndexing{
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.typeJournal{
  font-family: 'Poppins-Bold';
  font-size: 16px;
  margin-bottom: 10px;
}
.typeJournalDesc{
  font-family: 'Poppins-Regular';
  font-size: 13px;
}

/* <<<<<<<<<<<<<< section About >>>>>>>>>>> */

.About{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f4f4f450;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.containerContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge{
  font-family: 'Manrope-Bold';
  font-size: 13px;
  color: rgb(251 191 36);
  background-color: rgba(251, 190, 36, 0.179);
  padding: 6px 25px 6px 25px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.sectionTitle{
  font-family: 'Manrope-Bold';
  font-size: 26px;
  margin-bottom: 20px;
}
.specialTitle{
  color: rgb(251 191 36);
}

.sectionDescription{
  width: 50%;
  font-family: 'Poppins-Regular';
  font-size: 16px;
  text-align: center;
}
.listAboutContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.bgAbout{
  width: 47%;
  margin-right: 3%;
  border-radius: 10px;
}
.subTitle{
  font-family: 'Manrope-Bold';
  font-size: 28px;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
}
.circleWrapper{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(251, 190, 36, 0.076);
  background-color: #fff;
}
.checkIcon{
  width: 30px;
  height: 30px;
}

.textListWraper{
  width: 90%;
  padding-left: 30px;
}
.itemListAbout{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.listName{
  font-family: 'Manrope-Bold';
  font-size: 20px;
}
.listDesc{
  font-family: 'Poppins-Regular';
  font-size: 14px;
}
.featuredContainer{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.partnerWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  /* background-color: rgb(251 191 36); */
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.partnerlogo{
  width: 165px;
  height: 40px;
}

.partnerlogo2{
  width: 140px;
  height: 40px;
}

.portofolio{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}
.portoCard{
  width: 270px;
  height: 160px;
  background-color: rgb(251 191 36);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portoCount{
  font-family: 'Poppins-Bold';
  font-size: 26px;
  color: #fff;
  position: relative;
  top: -20px;
}

.portoName{
  font-family: 'Manrope-Bold';
  font-size: 16px;
  color: #fff;
  position: relative;
  top: -20px;
}

.iconPortoWrapper{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -40px;
  border: 2px solid rgb(251 191 36);;
}
.portoIcon{
  width: 30px;
  height: 30px;
  color: rgb(251 191 36);
}


/* <<<<<<<<<<<<<< section Guarantee >>>>>>>>>>> */

.Guarantee{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 10px;
  height: 150vh;
}

.guaranteeGridContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  width: 100%;
  height: 100%;
  gap: 30px 40px;
  padding-top: 50px;
}

.guaranteeCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.515);
  border-radius: 5px;
  border: 2px solid rgb(251 191 36);
  padding: 60px 20px 60px 20px;
}
.iconGuaranteeBox{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(251, 190, 36, 0.302);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.iconGuarantee{
  width: 60px;
  height: 60px;
}
.guaranteeName{
  font-family: 'Poppins-Bold';
  font-size: 18px;
  padding-bottom: 10px;
}
.guaranteeDesc{
  font-family: "Poppins-Regular";
  font-size: 14px;
}

/* <<<<<<<<<<<<< Service >>>>>>>>>>>>>> */

.Service{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 10px;
  height: 220vh;
}

.modelBox{
  width: 100%;
  height: 100%;
  border: 2px solid rgb(251 191 36);
  border-radius: 10px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listDescService{
  font-family: 'Poppins-Regular';
  font-size: 12px;
}

.listServiceContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 30px;
}

/* <<<<<<<<< FAQ >>>>>>>> */

.Faq{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 10px;
  height: auto;
}

.accordionItem{
  width: 100%;
  padding-bottom: 15px;
  padding-top: 20px;
  border-bottom: 1px solid rgb(251 191 36);
}
.accordion-title{
  font-family: "Manrope-Bold";
  font-size: 20px;
}
.chevronIcon{
  font-size: 18px;
  color: rgb(251 191 36);
  margin-right: 10px;
  position: relative;
  top: 6px;
}
.accordion-body{
  font-family: "Poppins-Regular";
  font-size: 16px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}


/* <<<<<<<<<<< Contact >>>>>>>>>>>>> */

.Contact{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 10px;
  /* height: auto; */
}
.listContactWrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  /* background-color: #2196F3; */
  gap: 30px 40px;
  padding-top: 20px;
}
.cardContact{
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(251 191 36);
  border-radius: 10px;
}
.contactIcon{
  width: 40px;
  height: 40px;
  color: rgb(251 191 36);
}
.contactName{
  font-family: 'Manrope-bold';
  font-size: 18px;
  margin-top: 20px;
}

.contactDesc{
  font-family: 'Poppins-Regular';
  font-size: 16px;
  margin-top: 10px;
  width: 60%;
  text-align: center;
}

.contactDesc2{
  font-family: 'Poppins-Bold';
  font-size: 16px;
  margin-top: 10px;
  width: 70%;
  text-align: center;
  align-items: center;
}