@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* <<<<<<<<<<<<<<<<<< Navbar >>>>>>>>>>>> */

nav.navbar {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  /* background: white; */
  background: rgba(255, 255, 255, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.LogoNav{
  width: 40%;
  background-color: #fff;
}

.mobileBarsIconWrapper{
  display: none;
}
.navListWrapper{
  width: 60%;
  padding-left: 80px;
}

.navListNameActive{
  font-family: 'Manrope-Bold';
  font-size: 14px;
  color: #16558f;
  padding: 10px 30px 10px 30px;
}

.navListNameInActive{
  font-family: 'Manrope-Medium';
  font-size: 14px;
  color: #111111;
  padding: 10px 30px 10px 30px;
}

.whatsappButton{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 40px;
  z-index: 9;
  right : 20px;
  justify-content: center;
  align-items: center;
}
.whatsappFloating{
  width: 50px;
  height: 50px;
}
.orderWa{
  font-family: "Manrope-Bold";
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  background-color: #1bd741;
  color: #fff;
  margin-right: 6px;
  border-radius: 4px;
}

/* <<<<<<<<<<<< Home >>>>>>>>>>>> */

.Home{
  background-image: url('../src/assets/image/bg2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh; 
  height: 100vh;
}
.HomeContainer{
  width: 100%;
  height: 100vh;
  background-color: #00000095;
}

.tagLineWrapper{
  width: 55%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  /* background-color: rgba(255, 255, 255, 0.44); */
}
.tagLine{
  font-family: 'Poppins-ExtraBold';
  font-size: 70px;
  color: #f0f0f0;
  text-shadow: 1px 1px 3px #0583D2;
}
.tagLine2{
  font-family: 'Poppins-Bold';
  font-size: 25px;
  color: #f0f0f0;
  text-shadow: 1px 1px 3px #0583D2;
}
.pinkButton{
  margin-top: 40px;
  background-color: #16558f;
  max-width: 40%;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-family: 'Poppins-Medium';
  font-size: 16px;
  color: #f0f0f0;
  box-shadow: 2px 2px 8px #0584d2;
}

.boxFloatWrapper{
  width: 100%;
  height: 160px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  top: -70px;
  /* background-color: #fff; */
}

.boxFloatingHome{
  width: 100%;
  height: 160px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 5px 10px #0583D230;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cardTypeJournal{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px 10px 25px;
  border-right: 2px solid #dddddd;
}
.cardTypeJournalLast{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px 10px 25px;
}

.logoIndexing{
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.typeJournal{
  font-family: 'Poppins-Bold';
  font-size: 16px;
  margin-bottom: 10px;
}
.typeJournalDesc{
  font-family: 'Poppins-Regular';
  font-size: 13px;
}

/* <<<<<<<<<<<<<< section About >>>>>>>>>>> */

.About{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f4f4f450;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

.containerContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge{
  font-family: 'Manrope-Bold';
  font-size: 13px;
  color: #fff;
  background-color: #16558f;
  padding: 6px 25px 6px 25px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.sectionTitle{
  font-family: 'Manrope-Bold';
  font-size: 26px;
  margin-bottom: 20px;
}
.specialTitle{
  color: #16558f;
}

.sectionDescription{
  width: 50%;
  font-family: 'Poppins-Regular';
  font-size: 16px;
  text-align: center;
}
.listAboutContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.bgAbout{
  width: 47%;
  margin-right: 3%;
  border-radius: 10px;
}
.subTitle{
  font-family: 'Manrope-Bold';
  font-size: 28px;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
}
.circleWrapper{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px #0583D230;
  background-color: #fff;
}
.checkIcon{
  width: 30px;
  height: 30px;
}

.textListWraper{
  width: 90%;
  padding-left: 30px;
}
.itemListAbout{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.listName{
  font-family: 'Manrope-Bold';
  font-size: 20px;
}
.listDesc{
  font-family: 'Poppins-Regular';
  font-size: 14px;
}
.featuredContainer{
  width: 100%;
  height: 65vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.partnerWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  /* background-color: #16558f; */
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.partnerlogo{
  width: 165px;
  height: 40px;
}

.partnerlogo2{
  width: 110px;
  height: 35px;
}

.portofolio{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-top: 80px;
}
.portoCard{
  width: 270px;
  height: 160px;
  background-color: #16558f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portoCount{
  font-family: 'Poppins-Bold';
  font-size: 26px;
  color: #16558f;
  position: relative;
}

.portoName{
  font-family: 'Manrope-Bold';
  font-size: 16px;
  color: #111111;
  position: relative;
}

.iconPortoWrapper{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -40px;
  border: 2px solid #16558f;
}
.portoIcon{
  width: 40px;
  height: 40px;
  color: #16558f;
  margin-bottom: 10px;
}
.portoIcon2{
  width: 60px;
  height: 40px;
  color: #16558f;
  margin-bottom: 10px;
}


/* <<<<<<<<<<<<<< section Guarantee >>>>>>>>>>> */

.Guarantee{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 10px;
  height: 130vh;
}

.guaranteeGridContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  width: 100%;
  height: 50%;
  gap: 30px 40px;
  padding-top: 50px;
}

.guaranteeCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.515);
  border-radius: 5px;
  border: 2px solid #16558f;
  padding: 20px 20px 20px 20px;
}
.iconGuaranteeBox{
  width: 75px;
  height: 75px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 6px #0583D230;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.iconGuarantee{
  width: 50px;
  height: 50px;
}
.guaranteeName{
  font-family: 'Poppins-Bold';
  font-size: 18px;
  padding-bottom: 10px;
}
.guaranteeDesc{
  font-family: "Poppins-Regular";
  font-size: 14px;
}

/* <<<<<<<<<<<<< Service >>>>>>>>>>>>>> */

.Service{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  padding-bottom: 60px;
  padding-top: 10px;
  height: 200vh;
}

.modelBox{
  width: 100%;
  height: 100%;
  border: 2px solid #16558f;
  border-radius: 10px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listDescService{
  font-family: 'Poppins-Regular';
  font-size: 12px;
}

.listServiceContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 30px;
}

/* <<<<<<<<< FAQ >>>>>>>> */

.Faq{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 10px;
  height: auto;
}

.accordionItem{
  width: 100%;
  padding-bottom: 15px;
  padding-top: 20px;
  border-bottom: 1px solid #16558f;
}
.accordion-title{
  font-family: "Manrope-Bold";
  font-size: 18px;
}
.accordion-title:hover{
  font-family: "Manrope-Bold";
  font-size: 18px;
  color: #16558f;
}
.accordion-active{
  font-family: "Manrope-Bold";
  font-size: 18px;
  color: #16558f;
}
.chevronIcon{
  font-size: 18px;
  color: #16558f;
  margin-right: 10px;
  position: relative;
  top: 6px;
}
.accordion-body{
  font-family: "Poppins-Regular";
  font-size: 16px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}


/* <<<<<<<<<<< Contact >>>>>>>>>>>>> */

.Contact{
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 10px;
  height: 80vh;
}
.listContactWrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  /* background-color: #2196F3; */
  gap: 30px 40px;
  padding-top: 20px;
}
.cardContact{
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #16558f;
  border-radius: 10px;
}
.contactIcon{
  width: 40px;
  height: 40px;
  color: #16558f;
}
.contactName{
  font-family: 'Manrope-bold';
  font-size: 18px;
  margin-top: 20px;
}

.contactDesc{
  font-family: 'Poppins-Regular';
  font-size: 16px;
  margin-top: 10px;
  width: 60%;
  text-align: center;
}

.contactDesc2{
  font-family: 'Poppins-Bold';
  font-size: 16px;
  margin-top: 10px;
  width: 70%;
  text-align: center;
  align-items: center;
}

/* <<<<<<<<<< Footer >>>>>>> */

.Footer{
  width: 100%;
  height: 48vh;
  background-color: #16558f;
  padding: 50px 100px 30px 100px;
}

.footerContainer{
  display: grid;
  grid-template-columns: 50% 50% ;
  /* background-color: #2196F3; */
  width: 100%;
  height: 100%;
  gap: 30px 40px;
}

.footerLeftSide{

}
.footerRightSide{
  display: grid;
  grid-template-columns: 24% 28% 24% ;
  /* background-color: #2196F3; */
  width: 100%;
  height: 100%;
  gap: 20px 40px;
}

.logoSample{
  font-family: "Poppins-Bold";
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}
.footerDesc{
  font-family: "Poppins-Regular";
  font-size: 12px;
  color: #fff;
  width: 50%;
}
.poweredBy{
  font-family: "Poppins-Regular";
  font-size: 10px;
  color: #fff;
}
.footerListItem{
  font-family: "Poppins-Regular";
  font-size: 12px;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
}
.footerListHeader{
  font-family: "Poppins-Regular";
  font-size: 14px;
  color: #fff;
  padding-top: 10px;
}
.footerSosmedWrapper{
  margin-top: 20px;
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.miniLogoCircle{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #0583D2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.miniSosmedLogo{
  width: 20px;
  height: 20px;
}


/* <<<<<<<<<<< Responsive Mobile >>>>>>>>>>> */

@media screen and (max-width: 600px) {

  /* <<<<<<<<<< Navbar Mobile >>>>>>>>>>>>> */
  nav.navbar{
    padding-left: 30px;
    padding-right: 30px;
  }
  .mobileBarsIconWrapper{
    display: flex;
    width: 30%;
    /* background-color: #fff; */
    justify-content: flex-end;
  }
  .barsIcon{
    width: 28px;
    height: 24px;
    color: #fff;
  }
  .buttonBars{
    width: 32px;
    height: 30px;
    background-color: #16558f;
    border-radius: 4px;
    padding-top: 2px;
  }
  .LogoNav{
    width: 70%;
  }
  div.navListWrapper{
    display: none;
  }

  /* <<<<<<<<<< Home Mobile >>>>>>>>>>>>> */

  .whatsappButton{
    display: none;
  }

  .Home{
    /* display: none; */
    background-size: 100% 70vh; 
    height: 70vh;
  }
  .HomeContainer{
    height: 70vh;
  }
  .tagLineWrapper{
    width: 70%;
    height: 70vh;
    padding-left: 30px;
    margin-bottom: 10px;
  }
  .tagLine{
    font-size: 28px;
  }
  .tagLine2{
    font-size: 14px;
  }
  .pinkButton{
    margin-top: 20px;
    font-size: 14px;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 1px 2px 5px #0584d2;
  }
  .boxFloatWrapper{
    width: 100%;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: -40px;
    /* background-color: rgb(201, 37, 37); */
  }
  .boxFloatingHome{
    width: 100%;
    height: 90px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #0583D230;
  }
  .cardTypeJournal{
    height: 65px;
    padding: 10px 25px 10px 25px;
    border-right: 2px solid #dddddd;
  }
  .portoIcon{
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
  }
  .portoIcon2{
    width: 25px;
    height: 25px;
    margin-bottom: 4px;
  }
  .portoName{
    font-size: 10px;
  }
  .portoCount{
    font-size: 16px;
  }
  .iconPortoWrapper{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    top: -40px;
    border: 2px solid #16558f;
  }
/* <<<<<<<<<< About Mobile >>>>>>>>>>>>> */
  .About{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    height: 74vh;
  }
  .badge{
    font-size: 10px;
    color: #fff;
    background-color: #16558f;
    padding: 6px 16px 6px 16px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .sectionTitle{
    font-family: 'Manrope-Bold';
    font-size: 22px;
    margin-bottom: 10px;
  }
  .sectionDescription{
    width: 100%;
    font-family: 'Poppins-Regular';
    font-size: 12px;
    text-align: center;
  }
  .bgAbout{
    display: none;
  }
  .subTitle{
    font-size: 20px;
    top: 0px;
    margin-left: 10px;
  }
  .circleWrapper{
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .checkIcon{
    width: 20px;
    height: 20px;
  }
  .listName{
    font-size: 14px;
  }
  .listDesc{
    font-size: 12px;
  }
  /* <<<<<<<< Featured Mobile >>>>>>>>> */
  .featuredContainer{
    /* display: none; */
    padding-left: 30px;
    padding-right: 30px;
    height: 28vh;
  }
  .partnerlogo{
    width: 85px;
    height: 20px;
  }
  .partnerlogo2{
    width: 40px;
    height: 16px;
  }
  .partnerWrapper{
    padding-top: 0px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    width: 100%;
  }

  /* <<<<<<<<<<< Guarante Mobile >>>>>>> */
  .Guarantee{
    /* display: none; */
    padding-left: 30px;
    padding-right: 30px;
    height: 165vh;
  }
  .guaranteeGridContainer{
    grid-template-columns: auto;
    gap: 20px 40px;
    padding-top: 20px;
  }
  .guaranteeCard{
    border: 1px solid #16558f;
  }
  .iconGuaranteeBox{
    width: 55px;
    height: 55px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 2px 1px 4px #0583D230;
    margin-bottom: 10px;
  }
  .iconGuarantee{
    width: 40px;
    height: 40px;
  }
  .guaranteeName{
    font-size: 14px;
    padding-bottom: 10px;
  }
  .guaranteeDesc{
    font-family: "Poppins-Regular";
    font-size: 12px;
  }

  .Service{
    padding-left: 30px;
    padding-right: 30px;
    height: 243vh;
  }
  .modelBox{
    display: none;
  }

  .Faq{
    /* display: none; */
    padding-left: 30px;
    padding-right: 30px;
  }
  .accordion-title{
    font-size: 14px;
    text-align: start;
  }
  .accordion-title:hover{
    font-size: 14px;
    color: #16558f;
  }
  .accordion-active{
    font-size: 14px;
  }
  .chevronIcon{
    font-size: 14px;
    top: 3px;
  }
  .accordion-body{
    font-size: 12px;
  }
/* <<<<<<<<<<<< Contact Mobile >>>>>>>>> */
  .Contact{
    padding-left: 30px;
    padding-right: 30px;
    height: 75vh;
  }
  .listContactWrapper{
    grid-template-columns: auto;
    gap: 20px 40px;
  }
  .cardContact{
    border: 1px solid #16558f;
    border-radius: 4px;
  }
  .contactName{
    font-size: 14px;
    margin-top: 10px;
  }
  
  .contactDesc{
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .contactDesc2{
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
/* <<<<<<<<< Footer Mobile >>>>>>>>>>>> */
  .Footer{
    padding-left: 30px;
    padding-right: 30px;
    height: 64vh;
  }
  .footerContainer{
    grid-template-columns: auto ;
  }
  .footerRightSide{
    display: none;
  }
  .logoSample{
    font-family: "Poppins-Bold";
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
  }
  .footerDesc{
    font-family: "Poppins-Regular";
    font-size: 12px;
    color: #fff;
    width: 100%;
  }
  .footerSosmedWrapper{
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}